<h3>Please Fill in the Tool Rental Form</h3>

<form class="" action="/tools" method="post">
  <p>Tool Name: <input type="text" name="tool[:name]" value=""></p>
  <p>Quantiry: <input type="text" name="tool[:quantity]" value=""></p>
  <p>Rental Date: <input type="text" name="tool[:rental_date]" value=""></p>
  <p>Return Date: <input type="text" name="tool[:return_date]" value=""></p>
  <input type="submit" name="" value="Submit">

</form>
