<h3>Please Fill in Tool Rental Form and Submit</h3>

<form class="" action="/tools" method="post">
  <p>Tool Name: <input type="text" name="tool[name]" value=""></p>
  <p>Quantiry: <input type="text" name="tool[quantity]" value=""></p>
  <p>Rental Date: <input type="text" name="tool[rental_date]" value=""></p>
  <p>Return Date: <input type="text" name="tool[return_date]" value=""></p>
  <p>Cost Per Day: <input type="text" name="tool[cost_per_day]" placeholder="Please leave this blank" value=""></p>
  <p>Conditions: <input type="text" name="tool[conditions]" placeholder="Please leave this blank" value=""></p>
  <input type="submit" name="" value="Submit">

</form>
