<h3>Welcome to Henry's Hardware Store</h3>



<br>

<form class="" action="login" method="post">
  Username Or Email: <input type="text" name="username_or_email" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" name="" value="Login">
</form>
