<h3>New Account Register</h3>

<form class="" action="/customers" method="post">
  <p>User Name: <input type="text" name="customer[username]" value=""></p>
  <p>Email Address: <input type="text" name="customer[email]" value=""></p>
  <p>Password: <input type="text" name="customer[password]" value=""></p>
  <input type="submit" name="" value="Submit">
</form>
