<h3>New Customer Register</h3>

<form class="" action="/customers" method="post">
  <input type="text" name="customer[username]" value="">
  <input type="text" name="customer[email]" value="">
  <input type="text" name="customer[password]" value="">
  <input type="submit" name="" value="Submit">
</form>
